<mat-toolbar class="pe-toolbar" color="primary">
  <button
    (click)="activeDrawer()"
    mat-icon-button
    class="pe-toolbar__icon"
    aria-label="Ícone do menu"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Meus Lançamentos</span>
  <span class="pe-toolbar__spacer"></span>
  <a
    href="https://github.com/RafaelZulianeli/personal-entries"
    rel="noopener noreferrer"
    target="_blank"
    mat-icon-button
    class="pe-toolbar__icon pe-toolbar__icon--github"
    aria-label="Repositório do Github"
  >
    <img class="pe-toolbar__icon" src="assets/github.png" alt="Ícone Github" />
  </a>
  <a
    href="https://hub.docker.com/repository/docker/rafaelzulianeli/personal-entries"
    rel="noopener noreferrer"
    target="_blank"
    mat-icon-button
    class="pe-toolbar__icon"
    aria-label="Repositório do DockerHub"
  >
    <img
      class="pe-toolbar__icon pe-toolbar__icon--docker"
      src="assets/docker.webp"
      alt="Ícone DockerHub"
    />
  </a>
</mat-toolbar>
